{% from 'oscar/macros.html' import icon %}

<form method="{{ method or 'POST' }}" action="{{ url_for('index') }}" id="search_form" role="search">
    {% if rtl %}
    <div class="input-group search-container">
    {% else %}
    <div class="input-group search-container">
    {% endif %}
        <input type="search" name="q" class="form-control input-lg autofocus" id="q" placeholder="{{ _('Search for...') }}" autocomplete="off" value="{{ q }}">
        <span class="input-group-btn">
            <button type="submit" id="submit" class="btn input-lg" style="background: url('/static/themes/oscar/img/icon_search.png') no-repeat center center; background-size: 20px 20px;">
                {{ _('Start search') }}
            </button>
        </span>
    </div>
    <div class="col-md-8 col-md-offset-2 advanced">
        {% include 'oscar/advanced.html' %}
    </div>
    <div class="slogan col-md-6 col-md-offset-3">
        这是一个
        <a href="javascript:;" class="b">搜酷</a>
        的搜索引擎
    </div>
</form><!-- / #search_form_full -->
